.container{
    background: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-container{
    padding-left: 7%;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .container, .large-container {
        padding-left: 2%;
        padding-top: 70px; /* Add space for the category bar */
    }
}